/* Configurações gerais */

section{

    margin-top:0px auto;
}

/* Configuração da página */

.cadnumint{

    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;

}

.cadnumint input{

    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
}

.cadnumint button{

    width: 30%;
    margin: 0 10%; 
    background-color: #b1ccf5;
    font-weight: bold;
    font-size: 16px;
}

label{

    float: left; 
}

h2{

    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
}